{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Header

	Description:

		Site header.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header">
		<a href="{{ site.baseurl }}/" class="logo">
			<strong>{{ site.title }}</strong> {{ site.tagline }}
		</a>
		<ul class="icons">
			<li><a href="https://www.instagram.com/middlechildmade/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			<li><a href="http://www.linkedin.com/in/joesergenian" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
		</ul>
	</header>