{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Sidebar

	Description:

		Site navigation, related content, and contact info.

	Example:

		{% include layout/sidebar.html %}

{% endcomment %}

<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">
			<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="{{ site.baseurl }}/">Homepage</a></li>
                        <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
						<li>
							<span class="opener">Mina Lee Studio</span>
							<ul>
								<li><a href="{{ site.baseurl }}/mls-catalog.html">Catalog</a></li>
								<li><a href="{{ site.baseurl }}/mls-cards.html">Greeting Cards</a></li>
								<li><a href="{{ site.baseurl }}/mls-website.html">Website</a></li>
							</ul>
						</li>
						<li><a href="{{ site.baseurl }}/mcm-cards.html">Middle Child Made</a></li>
						<li><a href="{{ site.baseurl }}/freeagent.html">Free Agent Realty</a></li>
						<li><a href="{{ site.baseurl }}/jessicaCD.html">Jessica Dock CD</a></li>
						<li><a href="{{ site.baseurl }}/DiggityDogBakery.html">Diggity Dog Bakery</a></li>
						<li><a href="{{ site.baseurl }}/falbos.html">Falbo Bros. Pizza</a></li>
                        <li><a href="{{ site.baseurl }}/logos.html">Logos</a></li>
                        <li><a href="{{ site.baseurl }}/emails.html">Emails</a></li>
                        <li><a href="{{ site.baseurl }}/wiseMoney.html">Wise Money ATMs</a></li>
                        
					</ul>
				</nav>
           <!-- Resume -->
				<section id="search" class="alt">
                    <ul class="actions resume">
						<li><a href="/images/JSergenian-Resume.pdf" class="button special icon fa-file fit" target="_blank">&nbsp;Resume</a></li>
                        <li><a href="/contact.html" class="button special icon fa-envelope fit">&nbsp;Contact</a></li>
    <li><a href="http://www.linkedin.com/in/joesergenian" target="_blank" class="button special icon fa-linkedin fit">&nbsp;Linkedin</a>
					</ul>
				</section>
			<!-- Section -->
				<section>
					<header class="major">
						<h2>Ante interdum</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="#" class="image"><img src="{{ site.baseurl }}/images/pic07.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="{{ site.baseurl }}/images/pic08.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="{{ site.baseurl }}/images/pic09.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>
					</div>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</section>

			<!-- Section -->
				<section>
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<p>Feel free to reach out,<br /> I'd be happy to talk with you!</p>
					<ul class="contact">
						<li class="fa-envelope-o"><a href="#">joe@middlechildmade.com</a></li>
						<li class="fa-phone">(608) 217-6653</li>
						<li class="fa-home">337 Bonnie Rd<br />
						Cottage Grove, WI 53527</li>
					</ul>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Joe Sergenian. All rights reserved.</p>
				</footer>

		</div>
	</div>